@media (max-width: 768px) {
    .mobile-toggle {
        display: block !important;
    }

    .main-links {
        display: none !important;
    }
}

@media (min-width: 769px) {
    .mobile-toggle {
        display: none !important;
    }

    .main-links {
        display: flex !important;
    }
}
