@media (min-width: 768px) {
    .desktop-auth-button {
        display: block !important;
    }

    .mobile-toggle {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .desktop-auth-button {
        display: none !important;
    }

    .mobile-toggle {
        display: block !important;
    }
}