@page "/skema"

<h2>Whist Bødesystem</h2>

<p class="mb-3">Her kan du se det officielle skema over bøder og pointgivning i Whist:</p>

<img src="Images/Whist-skema.png" alt="Whist bødeskema" class="img-fluid rounded shadow" style="max-width: 90%;" />
<img src="Images/Whist-Sol.png" alt="Whist bødeskema" class="img-fluid rounded shadow" style="max-width: 70%;" />
